h1,h2,h3,h4,h5,h6{
  text-align: center;
}
.nav-wrapper{
  background-color: #000;
}
.header{
  position: absolute;
  width: 100%;
  margin-top: -10%;
  z-index: -1000;
}
.spidee{
  width: 90%;
}
.thebat{
  width: 120%;
}
