<header>
  <img src="/pictures/skull.jpg" class="header">
  <div class="row">
  <div class="col s4">
    <img src="/pictures/batman.png" class="thebat">
  </div>
  <div class="col s4">

  </div>
  <div class="col s4">
    <img src="/pictures/spider.png" class="spidee">
  </div>
</div>
</header>
