<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Sass</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Sass</a></li>
    </ul>
  </div>
</nav>
  <div class="container-fluid">
    #parse($template)
  </div>

<script src="js/materialize.min.js"></script>
</body>
</html>
