<h1>$mySquad.getName()</h1>
<h1>$mySquad.getName() heroes:</h1>

<ul>
  #foreach($task in $mySquad.getHeroes())
   <li>$hero.getName()</li>
  #end
</ul>

<a href="/squads/$mySquad.getId()/heroes/new">Add a new Hero</a>
<a href="/squads">All squads</a>
